# List

In [1]:
courses=['History','Math','Physics','CompSci']
print(courses)

['History', 'Math', 'Physics', 'CompSci']

In [2]:
print(len(courses))

4

In [3]:
print(courses[0])

History

In [4]:
print(courses[3])

CompSci

In [5]:
print(courses[-1])

CompSci

In [6]:
print(courses[4]) #out of the index shows error

IndexError: list index out of range

### Slicing

In [7]:
print(courses[0:2])
print(courses[:2])

['History', 'Math']
['History', 'Math']

In [8]:
print(courses[2:])

['Physics', 'CompSci']

In [9]:
courses.append('Art')
print(courses)            #with append the new element appears at the end

['History', 'Math', 'Physics', 'CompSci', 'Art']

In [10]:
courses=['History','Math','Physics','CompSci']

In [11]:
courses.insert(0,'Art')             #with insert we can decide where new element appears at
print(courses)

['Art', 'History', 'Math', 'Physics', 'CompSci']

In [12]:
courses_2 = ['Art','Edu']

In [13]:
courses.insert(0,courses_2)  #with insert, list appears inside another list

In [14]:
print(courses)
print(courses[0])

[['Art', 'Edu'], 'Art', 'History', 'Math', 'Physics', 'CompSci']
['Art', 'Edu']

In [15]:
courses=['History','Math','Physics','CompSci']
courses.extend(courses_2)           #with extend, two list combines
print(courses)

['History', 'Math', 'Physics', 'CompSci', 'Art', 'Edu']

In [16]:
courses.remove('Math')

In [17]:
print(courses)

['History', 'Physics', 'CompSci', 'Art', 'Edu']

In [18]:
courses=['History','Math','Physics','CompSci']
courses.pop()

'CompSci'

In [19]:
print(courses)

['History', 'Math', 'Physics']

In [20]:
courses=['History','Math','Physics','CompSci']
popped = courses.pop()

In [21]:
print(popped)
print(courses)

CompSci
['History', 'Math', 'Physics']

### Sorting list

In [23]:
courses=['History','Math','Physics','CompSci']
courses.reverse()
print(courses)

['CompSci', 'Physics', 'Math', 'History']

In [24]:
courses=['History','Math','Physics','CompSci']
courses.sort()              #Sort in alphabetical order
print(courses)

['CompSci', 'History', 'Math', 'Physics']

In [25]:
nums = [1,5,2,4,3]
nums.sort()
print(nums)

[1, 2, 3, 4, 5]

In [26]:
courses=['History','Math','Physics','CompSci']
nums = [1,5,2,4,3]
courses.sort(reverse=True)
nums.sort(reverse=True)
print(courses)
print(nums)

['Physics', 'Math', 'History', 'CompSci']
[5, 4, 3, 2, 1]

In [28]:
courses=['History','Math','Physics','CompSci']
sorted(courses)
print(courses)

['History', 'Math', 'Physics', 'CompSci']

In [27]:
courses=['History','Math','Physics','CompSci']
sorted_courses = sorted(courses)
print(sorted_courses)

['CompSci', 'History', 'Math', 'Physics']

In [29]:
print(min(nums))
print(max(nums))
print(sum(nums))

1
5
15

In [30]:
courses=['History','Math','Physics','CompSci']
print(courses.index('CompSci'))

3

In [31]:
print(courses.index('Art'))

ValueError: 'Art' is not in list

In [32]:
print('Math'in courses)

True

In [33]:
print('Art'in courses)

False

In [34]:
for item in courses:
    print(item)

History
Math
Physics
CompSci

In [35]:
for course in courses:
    print(course)

History
Math
Physics
CompSci

In [36]:
for index, course in enumerate (courses):
    print(index,course)

0 History
1 Math
2 Physics
3 CompSci

In [37]:
for index,course in enumerate(courses, start =1):
    print(index,course)

1 History
2 Math
3 Physics
4 CompSci

### List to String

In [38]:
course_str = '-'.join(courses)
print(course_str)

History-Math-Physics-CompSci

### String to List

In [39]:
new_list = course_str.split('-')
print(new_list)

['History', 'Math', 'Physics', 'CompSci']

In [40]:
# List are mutable

list_1 = ['History','Math','Physics','CompSci']
list_2 = list_1
print(list_1)
print(list_2)

['History', 'Math', 'Physics', 'CompSci']
['History', 'Math', 'Physics', 'CompSci']

In [42]:
list_1[0]='Art'
print(list_1)
print(list_2)

['Art', 'Math', 'Physics', 'CompSci']
['Art', 'Math', 'Physics', 'CompSci']

# Tuples

In [43]:
# Tuples are immutable

tuple_1 = ('History','Math','Physics','CompSci')
tuple_2 = tuple_1
print(tuple_1)
print(tuple_2)

('History', 'Math', 'Physics', 'CompSci')
('History', 'Math', 'Physics', 'CompSci')

In [45]:
tuple_1[0]='Art'
print(tuple_1)
print(tuple_2)  #We get error because tuples are immutable

TypeError: 'tuple' object does not support item assignment

# Sets

In [46]:
#Sets are unordered and no duplicates

cs_courses = {'History','Math','Physics','CompSci'}
print(cs_courses)

{'Math', 'CompSci', 'History', 'Physics'}

In [47]:
cs_courses = {'History','Math','Physics','CompSci','Math'}
print(cs_courses)

{'Math', 'CompSci', 'History', 'Physics'}

In [48]:
print('Math' in cs_courses)

True

In [49]:
art_courses = {'History','Math','Art','Design'}
print(cs_courses.intersection(art_courses))

{'Math', 'History'}

In [50]:
print(cs_courses.difference(art_courses))

{'CompSci', 'Physics'}

In [51]:
print(cs_courses.union(art_courses))

{'Math', 'CompSci', 'Art', 'Design', 'History', 'Physics'}

# Empty List

In [52]:
empty_list = []

In [53]:
empty_list = list()

# Empty Tuple

In [54]:
empty_tuple = ()

In [55]:
empty_tuple = tuple()

# Empty Sets

In [57]:
emtpy_set = {}  #this isn't right! It is dictionary

In [58]:
empty_set = set()  #this is the correct one.